p{
color: red;
letter-spacing: 2px;
}
.mobilenet{
letter-spacing: 2px;
}
.google_lens{
    letter-spacing: 2px;
}
img{
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px
}
.white1{
    color: purple;
}
span{
    letter-spacing: 2px;
}
b{
    color: purple;
}
.first,.second{
    background-color: white;
    border-radius: 10px;
    line-height: 2;
}
.test_image_and_result1{
    margin-top: 15px;
    background-color:aliceblue;
    border-radius:10px;
    box-shadow: 1px, 1px, 25px grey;
    width: 99%;
    margin-bottom: 15px;
}
.google_lens{
    color: black;
}
h4{
    color: purple;
    font-weight: bold;

}
.bottom{
    color: red;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
h5 span{
    font-weight: bold;
}
.bottom1{
    font-weight: bold;
    font-size: 15px;
    width: 50%;
}